{{#liquid-if session.isAuthenticated class="login" }}

  <header>
    <img alt="Current User">
    Administration
    <nav>
      <a href="/">Administration</a>
      <a href="#" {{action "invalidateSession"}}>Logout</a>
    </nav>
  </header>

{{/liquid-if}}

  <main>
    {{liquid-outlet}}
  </main>

{{#liquid-if session.isAuthenticated }}

  <footer>
    <nav>
      {{#link-to "users" class="button"}}Users{{/link-to}}
      {{#link-to "profiles" class="button"}}Profiles{{/link-to}}
      {{#link-to "agreements" class="button"}}Agreements{{/link-to}}
    </nav>
  </footer>

{{/liquid-if}}
